* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map {
  height: 100vh;
  width: 100%;
}

.marker {
  background-color: black;
  color: #fff;
  font-size: 8px;
  padding: 0.5rem;
  transition: all 0.3s ease-out;
  position: relative;
  width: 100px;
  border-radius: 5px;
  z-index: 50;
}

.marker:after {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.75rem;
  opacity: 1;
}

.marker.highlight:after {
  opacity: 0;
  animation: fadeOut 0.5s;
}

.marker.raining:after {
  content: "🌧";
}

.marker.cloudy:after {
  content: "🌥";
}

.marker.sunny:after {
  content: "☀️";
}

.highlight {
  width: 200px;
  color: white;
}

.highlight.raining {
  background-color: #457b9d;
}

.highlight.cloudy {
  background-color: #6d6875;
}

.highlight.marker.sunny {
  background-color: goldenrod;
}